.back-slide{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-color:  #ff1a75;
    border-radius: 12px;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
  
}
.container{
    margin-bottom: 100px;
}

/* .one.two.three{
     padding: 10px 30px;       (  Apply Css at a time in all three classes )
                                     (If you want)
}*/
.one{
    
    background-color:  #ff1a75;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 20px; 

    


}
.two{
    background-color:  #ffff00 ;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 20px; 

}
.three{
    background-color:  #0066ff;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 20px; 

}
.card{
    border: none;
    background-color:#99ffcc;
}


.buy-now-buttons{
    background-color:#000066;
    border-radius: 12px;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
  
}



